@model SNKRS.Models.Category

@{
    ViewBag.Title = "Thêm loại";
    ViewBag.Active = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Tạo", "Category"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="mb-3 text-left">
                @Html.ActionLink("Quay lại", "Index", "Category", new { @class = "btn btn-primary" })
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Lưu</button>
                </div>
            </div>
        </div>
    </div>
}